/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* CSS */

/* h1 {
    color: var(--colorRed);
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px red solid; */
  font-family: Helvetica, sans-serif;
  background-color: #f2d0a4;
}

/* SignIn Component */

.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.header {
  display: flex;
  justify-content: center;
}

.header-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #545e75;
  margin-bottom: 30px;
}

.header-subtitle {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #c03221;
}

.form-sign-in {
  display: flex;
  justify-content: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-field-label {
  font-size: 1rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.input-field {
  background-color: #f7f7ff;
  border: 0.75px;
  padding: 10px;
  border-radius: 5px;
}

.button {
  height: 40px;
  width: 100px;
  background-color: #3f826d;
  color: white;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  cursor: pointer;
  margin-top: 20px;
  /* margin-left: 25%;
  margin-right: 25%; */
  margin-bottom: 20px;
}

.centered-button {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:active {
  background-color: #5d9a86;
}

.sign-up-link:active {
  color: rgb(67, 71, 129);
}

p {
  font-size: 0.9rem;
}

/* SignUp Component */

/* Home view */

/* Account View */
