/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* CSS */

/* h1 {
    color: var(--colorRed);
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px red solid; */
  font-family: Helvetica, sans-serif;
  background-color: #f2d0a4;
}

.hide {
  display: none;
}

/* SignIn and SignUp Components */

.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.header {
  display: flex;
  justify-content: center;
}

.header-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: black;
  margin-bottom: 30px;
}

.header-subtitle {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #464756;
}

.form-sign-in {
  display: flex;
  justify-content: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-field-label {
  font-size: 1rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.input-field {
  background-color: #f7f7ff;
  border: 0.75px;
  padding: 10px;
  border-radius: 5px;
}

.input-field-login {
  background-color: #f7f7ff;
  border: 0.75px;
  padding: 10px;
  border-radius: 5px;
}

.button {
  height: 40px;
  width: 100px;
  background-color: #3f826d;
  color: white;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  cursor: pointer;
  margin-top: 20px;
  /* margin-left: 25%;
  margin-right: 25%; */
  margin-bottom: 20px;
}

.log-out-button {
  background-color: #c03221;
  margin-top: 15px;
}

.log-out-button:active {
  background-color: #b6382a !important;
}

.centered-button {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:active {
  background-color: #5d9a86;
}

.sign-up-link:active {
  color: rgb(67, 71, 129);
}

p {
  font-size: 0.9rem;
}

/* NavBar */

nav {
  background-color: transparent;
}

li {
  list-style: none;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  max-width: 90vw;
}

.navbar-logo {
  width: 100px;
  height: 100px;
  background-image: url(./images/logo.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f2d0a4;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-link:hover {
  color: #0082f3;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.primary-button {
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  color: white !important;
  text-align: center;
}

.primary-button:hover {
  background-color: #292e47;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #464756;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 0%;
    gap: 0;
    flex-direction: column;
    background-color: #c8c8c8;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (min-width: 768px) {
  .hide {
    display: block;
  }
  .hide ul {
    display: flex;
    flex-direction: row;
  }
  .log-out {
    margin-top: 3px;
  }
  .log-out-welcome {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
/* New Task */

.input-field {
  background-color: #f2d0a4;
  display: flex;
  justify-content: center;
}

.container-inputs {
  max-height: 500px;
}

input {
  background-color: #f7f7ff;
  border: 0.75px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 450px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 15px;
}

.add-button {
  margin-top: 40px;
}

/* Task Item */

.insert {
  background-color: #9e5c3d;
  border: 0.75px;
  padding: 10px;
  border-radius: 5px;
  width: 93%;
  max-width: 450px;
  display: flex;
  justify-content: center;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}

.action-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px;
  border: none;
}

.trash-button {
  background-image: url(./images/trash-logo.png);
}

.edit-button {
  background-image: url(./images/edit-logo.png);
}

.complete-button {
  background-image: url(./images/check-logo.png);
}

.save-button {
  background-image: url(./images/save-logo.png);
}

.edit {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* Footer  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 0.8rem;
}
